Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing
src/Makefile.in
Makefile
config.h
config.log
config.status
src/.deps/
src/Makefile
stamp-h1
src/icd
src/icd.o
src/irc.o
src/ircssd
src/ircssd.o
src/misc.o
src/sock.o
src/ss.o
